@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --main-color: #F77F00;
    --second-color: rgb(55, 55, 55);
    /* Font-family */
    --font-family: 'Inter', sans-serif;
}

form {
    font-family: var(--font-family);
    max-width: 580px;
    margin: auto;
    box-sizing: border-box;
    padding: 30px 25px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.inputs {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.inputs label {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px;
    color: var(--second-color);
}

.inputs input {
    box-sizing: border-box;
    width: 95%;
    font-size: 1rem;
    margin: 10px;
    padding: 15px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.btnCreate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCreate button {
    width: 95%;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 18px 0;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.terms {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.terms p {
    width: 95%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.terms p>:link {
    color: var(--second-color);
    font-weight: 700;
    text-decoration: none;
}

.terms p>:visited {
    color: var(--second-color);
}