@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --main-color: #F77F00;
    --second-color: rgb(55, 55, 55);
    /* Font-family */
    --font-family: 'Inter', sans-serif;
}

.header {
    max-width: 1920px;
    height: 3rem;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
    padding: 0 20%;
}

.logo img {
    max-width: 120px;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 1rem;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--second-color);
}

.header a:link {
    color: var(--second-color);
}

.header a:hover,
.header a:active {
    color: var(--main-color);
}

.header li:last-child {
    padding: 4px 18px;
    border: solid 1px var(--main-color);
    border-radius: 25px;
}

.header li:last-child a {
    color: var(--main-color);
    font-weight: 600;
}