@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    --main-color: #F77F00;
    --second-color: rgb(55, 55, 55);
    /* Font-family */
    --font-family: 'Inter', sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logoImage{
    width: 15rem;
}

a {
    text-decoration: none;
}
