.footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;    
    
}

.footer div{
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    line-height: 50px;
    background: white;
    color: black;
    margin-right: 200px;    
    
}

.footer img{
    width: 70px;
    padding-top: 15px;
    
}




