@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
    --main-color: #F77F00;
    --second-color: #636363;
    --third-color:#707070;
    --font-family: 'Inter', sans-serif;
}

.banner{
    width: 100%;
    font-family: var(--font-family);
    position: relative; 
    height: 80vh;
    width: 100%;
}

.banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

    background-image: url('https://www.brightonhomes.net.au/sites/default/files/house-plans-brisbane-lp.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px 20px;
}

.banner .info h1{
    position: relative;
    height: auto;
    font-size: 3rem;
    margin-bottom: 20px;
}


.banner .info input{
    width: 30rem;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    color: var(--second-color);
}

.banner .info input::placeholder{
    overflow: hidden;
    color: var(--placeholder-color);
}

.banner .info button{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    cursor: pointer;
    font-weight: 600;
}

.banner .info button:hover{
    filter: brightness(1.2);
}
